body {
  background-color: rgb(121, 167, 176);
}

/* main {
  display: block;
  flex-direction: column;
  align-items: start;
  margin: 0;
  background-color: rgb(121, 167, 176);
} */
/*
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
} */

/* a {
  font-weight: 800;
  text-decoration: none;
}

h1 {
  color: white;
} */
