.tab {
  overflow: hidden;
  background-color: white;
}

/* Style the tab content */
.tabcontent {

  width: 1516px;
  height: 60px;

  /* xxxl */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 60px */

  /* colors/font/secondary */
  color: #304050;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}


/* div {
  background-color: grey;
} */

